*{
	margin: 0 ;
	padding: 0 ;
}


header{
	color:red;



}



div.opac{
	background:rgba(255,255,255, 0.2)!important;
	
	height: 107%;


}

div.opac1{
	background:rgba(0,0,0, 0.8)!important;
	margin: 0;

}







.top{
	display:flex;
	justify-content: space-around;
	float:right;


}

.red{
	
	display:flex;
	justify-content: center;
	background-color: whitesmoke; 
	color:red!important;
	
	margin-top: 10px;	
}


.photo{
	margin-top:10px;
	height: 20%;
	width: 20%;
	
}



.side{
	/*background: rgba(144,144,144, 0.6);*/
	background-image: url("../img/binary.gif")!important;
	background-size: 10% 50%;

	background-position: left;
	background-attachment: fixed;
	margin-left: 10px;
	right: 7px;
	width: 20%!important;
	height: 1280px!important;
	/*min-height: 250%;*/
	color: #fff;
	float: right;
	border: 1px solid red;
}

.profile{
	display:flex;
	align-content: flex-start;
	height:20%;
	width: 60%;
	margin-left: 20%;
	margin-top:10%;
	border-radius: 70%;
	

}

.col-lg-12{
	display:flex;
	justify-content: space-around;
}




.img1{
	height: 64px;
	width: 64px;
	margin-top: 20px;

}

.img2{
	height: 64px;
	width: 64px;
	background-color: whitesmoke;
	margin-top: 20px;
	
}

.img3{
	height: 64px;
	width: 64px;
	background-color: whitesmoke;
	margin-top: 20px;
	
}

.img4{
	height: 64px;
	width: 64px;
	background-color: whitesmoke;
	margin-top: 20px;
	
}

	section{
		margin-top: 20px;
		background: rgba(255,255,255, 0.2);
		color: #234CA5;
	}



	div.col-lg-9{
		background-color: whitesmoke;

	}


	div.col-md-6{	
		float:none;
	}

	div.col-md-4{
		float: left;
		margin: 0;
		background-color: whitesmoke;
		color: red;
	}

.center{
	margin-left: 50px!important;

}




.left{
	margin-left: 60px!important;


}



.bottom{

	margin-bottom: 5px;
	/*background-color: #42A8C0 ;*/
	/*background-image: url("../img/cafe.jpg");*/
	z-index: -1;
	background-attachment: fixed;
	background-size: cover ;
	background-repeat: no-repeat;



}


.sh{	
	height: 50px;
	width: 50px;
}

.like{	
	height: 50px;
	width: 50px;
}

.host{	
	height: 50px;
	width: 50px;
}

.Titre{

font-size: 23px;	


}






div.col-xs-2{
	margin-top:20px;
	float:right;
	margin-left:12px;
}

.list-group-item{
	margin-bottom: 7px;
	padding-left: 110px!important;
	color: blue;

}

.left{

	margin-left:28%!important;

}

.coll{
	padding-right: 25px;


}

div.col-xs-4.col-sm-2.sidebar-offcanvas{
	margin-top: 20px;

}

.down{
	margin-top:15px;
	margin-bottom: 15px;

}

.down1{

	margin-bottom: 7px;

}

.in{
	height: 30px;
	width: 30px;
	display:flex;
	justify-content: center;
}

.twit{
	float: left;
	height: 30px;
	width: 30px;
	
}

.git{
	float: left;
	height: 30px;
	width: 30px;
	margin-left: 10px;
}

@media print{
	a[href]:after {
	    content: " (" attr(href) ")";
	  }

	  footer{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
	
}

section{
	margin-top: 20px;
	background-color: whitesmoke;
	color: #234CA5;
}



div.col-lg-9{
	background-color: whitesmoke;

}


div.col-md-6{	
	float:none;
}

div.col-md-4{
	float: left;
	margin: 0;
	background-color: whitesmoke;
	color: red;
}

}

footer{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
	
}

p.nintendo{
	height: 25px;
	width: 150px;
	display:flex;
	justify-content: center;
	color: blue;
	font-family:"VT323";
	box-shadow: -2px 1px 1px 6px ;
	border-radius: 100px;
	border-color: red;
	background-color: white;
	margin-top:50px;
}

@media all and (min-width: 600px){


img.profile{
        display:flex;
        align-content: flex-start;
        height:10%;
        width: 60%;
        margin-left: 20%;
        margin-top:10%;
        border-radius: 70%;


}




}
